// Bootstrapped View Styles
// ========================================

// This is just for show. Bootstrapped to save time.
// Styles don't use component library at the moment.

// Variables
$base-font-family:  $primary-sans-serif;
$base-font-weight:  700;


// Page Header
.page__header {
  background: $blue-base;
  padding: 5rem 2rem 3rem;

  .title {
    color: $white-base;
    font-family: $base-font-family;
    font-size: 4rem;
    font-weight: $base-font-weight;
    margin-top: 1rem;
  }

  .title--topper {
    background-color: $tan-base;
    display: block;
    height: 2px;
    width: 5rem;
  }
}


// Section
.page-section {
  margin: 3rem auto 6rem;
}

.page-section__header {
  background: $tan-base;
  margin-bottom: 1rem;
  padding: 1rem 0.5rem;
  text-align: center;

  .title {
    color: $blue-base;
    font-family: $base-font-family;
    font-size: 1.5rem;
    font-weight: $base-font-weight;
    text-transform: uppercase;
  }
}


// Color Swatch
.color-swatch {
  background-color: $grey-base;
  border-radius: 30em;
  display: inline-block;
  margin-bottom: 1rem;
  height: 100px;
  width: 100px;
}