// Misc Mixins
// ========================================

// Border Box Mixin
@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}


// Box Shadow
@mixin box-shadow($spread, $shadow) {
  -webkit-box-shadow: $spread $shadow;
  -moz-box-shadow:    $spread $shadow;
  box-shadow:         $spread $shadow;
}

// Clearfix Mixin
@mixin clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// Transition Effect
@mixin transition($prop, $duration, $effect) {
  -webkit-transition: $prop, $duration, $effect;
  -moz-transition:    $prop, $duration, $effect;
  -o-transition:      $prop, $duration, $effect;
  transition:         $prop, $duration, $effect;
}