html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.background--black-base {
  background-color: #000000; }

.background--blue-base {
  background-color: #007BC1; }

.background--grey-base {
  background-color: #D8D8D8; }

.background--grey-dark {
  background-color: #808080; }

.background--tan-light {
  background-color: #F7F8F4; }

.background--tan-base {
  background-color: #F5F4F0; }

.background--tan-dark {
  background-color: #E9EAE6; }

.background--white-light {
  background-color: #FAFAFA; }

.background--white-base {
  background-color: #FFFFFF; }

.background--white-dark {
  background-color: #F5F5F6; }

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #000000;
  line-height: 1.0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 35px;
  line-height: 52.5px; }

h2 {
  font-size: 24px;
  line-height: 36px; }

h3 {
  font-size: 21px;
  line-height: 31.5px; }

h4 {
  font-size: 18px;
  line-height: 27px; }

h5 {
  font-size: 16px;
  line-height: 24px; }

h6 {
  font-size: 14px;
  line-height: 21px; }

p {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  line-height: 21px; }

.text--center {
  text-align: center; }

.text--left {
  text-align: left; }

.text--justify {
  text-align: justify; }

.text--right {
  text-align: right; }

.button__alpha, .button__bravo, .button__charlie, .button__delta {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  -webkit-transition: border-radius, 0.5s, ease-in-out;
  -moz-transition: border-radius, 0.5s, ease-in-out;
  -o-transition: border-radius, 0.5s, ease-in-out;
  transition: border-radius, 0.5s, ease-in-out;
  border: none;
  display: inline-block;
  height: auto;
  line-height: normal;
  padding: 20px 35px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-appearance: none; }
  .button__alpha:hover, .button__bravo:hover, .button__charlie:hover, .button__delta:hover {
    cursor: pointer;
    opacity: 1; }
  .button__alpha:focus, .button__bravo:focus, .button__charlie:focus, .button__delta:focus {
    border: none;
    outline: none;
    text-decoration: none; }
  .button__alpha:active, .button__bravo:active, .button__charlie:active, .button__delta:active {
    opacity: 1; }

.button__alpha {
  background: #000000;
  color: #FFFFFF; }
  .button__alpha:hover {
    background-color: #4d4d4d; }
  .button__alpha:focus {
    -webkit-box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    border: none; }

.button__bravo {
  background: #007BC1;
  color: #FFFFFF; }
  .button__bravo:hover {
    background-color: #5bc4ff; }
  .button__bravo:focus {
    -webkit-box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    border: none; }

.button__charlie {
  background: #FFFFFF;
  color: #000000;
  border: 1px solid #D8D8D8; }
  .button__charlie:hover {
    background-color: white; }
  .button__charlie:focus {
    -webkit-box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    border: none; }

.button__delta {
  background: #D8D8D8;
  color: #808080; }
  .button__delta:hover {
    background-color: white; }
  .button__delta:focus {
    -webkit-box-shadow: 0 0 0 transparent;
    -moz-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    border: none; }

.card {
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  background-color: #FFFFFF;
  overflow: hidden; }

.card__header {
  height: 200px;
  overflow-y: hidden; }
  .card__header .card__img {
    width: 100%; }

.card__body {
  padding: 15px; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.container {
  margin: 0 auto;
  max-width: 65em;
  width: 100%; }

.container,
.row {
  *zoom: 1; }
  .container:before, .container:after,
  .row:before,
  .row:after {
    content: " ";
    display: table; }
  .container:after,
  .row:after {
    clear: both; }

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px; }

@media screen and (min-width: 600px) {
  .column-1 {
    width: 8.33333%; }

  .column-2 {
    width: 16.66667%; }

  .column-3 {
    width: 25%; }

  .column-4 {
    width: 33.33333%; }

  .column-5 {
    width: 41.66667%; }

  .column-6 {
    width: 50%; }

  .column-7 {
    width: 58.33333%; }

  .column-8 {
    width: 66.66667%; }

  .column-9 {
    width: 75%; }

  .column-10 {
    width: 83.33333%; }

  .column-11 {
    width: 91.66667%; }

  .column-12 {
    width: 100%; } }
.table {
  width: 100%;
  margin-bottom: 30px;
  text-align: left; }

.table-primary {
  border: 1px solid #D8D8D8; }
  .table-primary thead {
    background-color: #F5F5F6;
    color: #808080; }
  .table-primary th,
  .table-primary td {
    padding: 10px; }

.table-secondary thead {
  background-color: #007BC1;
  color: #FFFFFF; }
.table-secondary th,
.table-secondary td {
  padding: 5px; }
.table-secondary tr:nth-child(even) {
  background-color: #F5F5F6; }

.page__header {
  background: #007BC1;
  padding: 5rem 2rem 3rem; }
  .page__header .title {
    color: #FFFFFF;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 1rem; }
  .page__header .title--topper {
    background-color: #F5F4F0;
    display: block;
    height: 2px;
    width: 5rem; }

.page-section {
  margin: 3rem auto 6rem; }

.page-section__header {
  background: #F5F4F0;
  margin-bottom: 1rem;
  padding: 1rem 0.5rem;
  text-align: center; }
  .page-section__header .title {
    color: #007BC1;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase; }

.color-swatch {
  border: 1px solid #F5F5F6;
  border-radius: 30em;
  display: inline-block;
  margin-bottom: 1rem;
  height: 100px;
  width: 100px; }

/*# sourceMappingURL=main.css.map */
