// Grid Variables
// ========================================

// Structure
$grid-columns:       12;
$grid-margin:        0 auto;
$grid-max-width:     65em;
$grid-width:         100%;


// Breakpoints
$breakpoints: (
  'small':  320px,
  'medium': 768px,
  'large':  1024px
);